.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #f8fafc;
}

.main {
    flex: 1;
    position: relative;
    z-index: 0;
    overflow: hidden;
} 